@charset "UTF-8";
@font-face {
  font-family: "TTLakes-Bold";
  src: local("TT Lakes"), url(../font/services/TTLakes-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "TTLakes-Regular";
  src: local("TT Lakes"), url(../font/services/TTLakes-Regular.ttf) format("truetype");
}
body {
  margin: 0;
}

.services {
  font-family: TTLakes-Regular;
}
.services__header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80px;
  background: -webkit-gradient(linear, right top, left top, from(#F8F8F8), color-stop(98.61%, #FFFFFF));
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  padding-top: 16px;
  padding-left: 16px;
  margin-bottom: 16px;
}
.services__title {
  margin: 0;
  min-width: 288px;
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  color: #7E7E82;
  font-weight: 500;
}
.logo-slider__wrapper {
  margin-left: 16px;
}
.logo-slider__slide {
  width: 240px;
  height: 72px;
  opacity: 0px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  margin-bottom: 16px;
}
.logo-slider__image {
  width: 140px;
  height: 70px;
  background: url("../img/бренды.svg") no-repeat;
  -webkit-transform: translate(10px, 1px);
          transform: translate(10px, 1px);
}
.logo-slider__image--brand-lenovo {
  background-position: -42px -81px;
}
.logo-slider__image--brand-samsung {
  background-position: -314px -81px;
  border-top-left-radius: 88%;
}
.logo-slider__image--brand-apple {
  background-position: -586px -81px;
}
.logo-slider__image--brand-viewSonic {
  background-position: -858px -81px;
}
.logo-slider__image--brand-bosch {
  background-position: -42px -169px;
}
.logo-slider__image--brand-hp {
  background-position: -314px -169px;
}
.logo-slider__image--brand-acer {
  background-position: -586px -169px;
}
.logo-slider__image--brand-sony {
  background-position: -858px -169px;
}
.logo-slider__button {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  border-radius: 100%;
  background: transparent url("../img/бренды.svg") no-repeat -216px -96px;
  -webkit-transform: translate(184px, -54px);
          transform: translate(184px, -54px);
}
.logo_slider__fade {
  position: absolute;
  -webkit-transform: translate(0, -97px);
          transform: translate(0, -97px);
  right: 0;
  z-index: 2;
  width: 24px;
  height: 81px;
  background: -webkit-gradient(linear, right top, left top, color-stop(16.84%, #F8F8F8), to(rgba(248, 248, 248, 0.0001)));
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.image {
  width: 100%;
  height: auto;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  top: 0px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #DDDDDD;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet-active {
  background-color: #B5B6BC;
}

@media (min-width: 768px) {
  .services__header {
    height: 56px;
  }
}/*# sourceMappingURL=swiper.css.map */